<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Сайт</title>
	<link rel="stylesheet" href="/public/css/style.css" type="text/css">
</head>
<body>
	<h1 id="title">Test</h1>
	<div class="button-box">
	    <a href="/auth/registration">Registration</a>
	    <a href="/auth/login">Login</a>
    </div>
</body>
</html>
