<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/forms.css" type="text/css">
</head>
<body>
    <form action="/auth/registration" method="post">
		<div class="inputs">
            <div class="input-box">
                <p>Username:</p>
                <input name="username">
            </div>
            <div class="input-box">
                <p>Password:</p>
                <input name="password" type="password">
            </div>
        </div>
		<button type="submit">Войти</button>
	</form>
</body>
</html>
